<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iarchie.crm_v1.mapper.DownloadDcoMapper" >
  <resultMap id="BaseResultMap" type="com.iarchie.crm_v1.domain.DownloadDco" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="filename" property="filename" jdbcType="VARCHAR" />
    <result column="filepath" property="filepath" jdbcType="VARCHAR" />
    <result column="filemsg" property="filemsg" jdbcType="VARCHAR" />
    <result column="fileadmin" property="fileadmin" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from download
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.iarchie.crm_v1.domain.DownloadDco" useGeneratedKeys="true" keyProperty="id" >
    insert into download (filename, filepath, filemsg, 
      fileadmin)
    values (#{filename,jdbcType=VARCHAR}, #{filepath,jdbcType=VARCHAR}, #{filemsg,jdbcType=VARCHAR}, 
      #{fileadmin,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.iarchie.crm_v1.domain.DownloadDco" >
    update download
    set filename = #{filename,jdbcType=VARCHAR},
      filepath = #{filepath,jdbcType=VARCHAR},
      filemsg = #{filemsg,jdbcType=VARCHAR},
      fileadmin = #{fileadmin,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, filename, filepath, filemsg, fileadmin
    from download
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, filename, filepath, filemsg, fileadmin
    from download
  </select>
</mapper>